<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <!-- Main menu -->
        <li class="current"><a href="/dashbord"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
        <li class="submenu">
            <a href="#">
                <i class="fas fa-users"></i> Create user
                <span class="caret pull-right"></span>
            </a>
            <!-- Sub menu -->
            <ul>
                <li><a href="/users/new/student">Student</a></li>
                <li><a href="/users/new/teacher">Teacher</a></li>
            </ul>
        </li>
        <li class="submenu">
            <a href="#">
                <i class="fas fa-users"></i> View users
                <span class="caret pull-right"></span>
            </a>
            <!-- Sub menu -->
            <ul>
                <li><a href="/users/view/student">Student</a></li>
                <li><a href="/users/view/teacher">Teacher</a></li>
            </ul>
        </li>
        <!--<li><a href="/stats"><i class="glyphicon glyphicon-stats"></i> Statistics </a></li>-->
        <li><a href="/leave"><i class="glyphicon glyphicon-list"></i> Leave management</a></li>
        <li><a href="notice"><i class="fas fa-envelope-square"></i> Notice</a></li>
    </ul>
</div>