<% include ../partials/header %>

<link href="/stylesheets/fullcalendar.css" rel="stylesheet" media="screen">
<link href="/stylesheets/calendar.css" rel="stylesheet">
<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a href="/dashbord"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                    <li class="submenu current">
                        <a href="#">
                            <i class="fas fa-users"></i> User
                            <span class="caret pull-right"></span>
                        </a>
                        <!-- Sub menu -->
                        <ul>
                            <li><a href="/users/new">Create user</a></li>
                            <li><a href="/users/students">View Users</a></li>
                        </ul>
                    </li>
                    <li><a href="/stats"><i class="glyphicon glyphicon-stats"></i> Statistics </a></li>
                    <li><a href="/leave"><i class="glyphicon glyphicon-list"></i> Leave management</a></li>
                    <li><a href="/timetable"><i class="fas fa-calendar-times"></i> Time table</a></li>
                    <li><a href="notice"><i class="fas fa-envelope-square"></i> Notice</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">
                        <p>
                            <a href="/users/students" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Students</a>
                            <a href="/users/teachers" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Teachers</a>
                        </p>
                    </div>
                </div>
                <div class="panel-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                        <thead>
                        <tr>
                            <th>Index number</th>
                            <th>First name</th>
                            <th>Second name</th>
                            <!--<th>Type</th>-->
                            <!--<th>CSS grade</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <% students.forEach(function(student){ %>
                            <tr class="odd gradeX">
                                <td><%= student.username%></td>
                                <td><%= student.firstName %> </td>
                                <td><%= student.secondName %></td>
                            </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>