<% include ../partials/header %>

<link href="/stylesheets/fullcalendar.css" rel="stylesheet" media="screen">
<link href="/stylesheets/calendar.css" rel="stylesheet">
<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <% include navBar %>
        </div>
        <div class="col-md-10">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="panel-heading">
                            <div class="panel-title">Students</div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                        <thead>
                        <tr>
                            <th>Index number</th>
                            <th>First name</th>
                            <th>Second name</th>
                            <!--<th>Type</th>-->
                            <!--<th>CSS grade</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <% students.forEach(function(student){ %>
                            <tr class="odd gradeX">
                                <td><%= student.username%></td>
                                <td><%= student.firstName %> </td>
                                <td><%= student.secondName %></td>
                            </tr>
                        <%})%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>