<% include ../partials/header %>

<link href="/stylesheets/fullcalendar.css" rel="stylesheet" media="screen">
<link href="/stylesheets/calendar.css" rel="stylesheet">
<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a href="/dashbord"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                    <li class="submenu current">
                        <a href="#">
                            <i class="fas fa-users"></i> User
                            <span class="caret pull-right"></span>
                        </a>
                        <!-- Sub menu -->
                        <ul>
                            <li><a href="/users/new">Create user</a></li>
                            <li><a href="/users">View Users</a></li>
                        </ul>
                    </li>
                    <li><a href="/stats"><i class="glyphicon glyphicon-stats"></i> Statistics </a></li>
                    <li><a href="/leave"><i class="glyphicon glyphicon-list"></i> Leave management</a></li>
                    <li><a href="/timetable"><i class="fas fa-calendar-times"></i> Time table</a></li>
                    <li><a href="notice"><i class="fas fa-envelope-square"></i> Notice</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="content-box-large">
                <div class="panel-heading">
                    <div class="panel-title">
                        <p>
                            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Students</a>
                            <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Teachers</a>
                        </p>
                    </div>
                </div>
                <div class="panel-body">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="example">
                        <thead>
                        <tr>
                            <th>Index number</th>
                            <th>First name</th>
                            <th>Second name</th>
                            <!--<th>Type</th>-->
                            <!--<th>CSS grade</th>-->
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="odd gradeX">
                            <td>Trident</td>
                            <td>Internet
                                Explorer 4.0</td>
                            <td>Win 95+</td>
                            <!--<td class="center"> 4</td>-->
                            <!--<td class="center">X</td>-->
                        </tr>
                        <tr class="even gradeC">
                            <td>Trident</td>
                            <td>Internet
                                Explorer 5.0</td>
                            <td>Win 95+</td>
                            <!--<td class="center">5</td>-->
                            <!--<td class="center">C</td>-->
                        </tr>
                        <tr class="odd gradeA">
                            <td>Trident</td>
                            <td>Internet
                                Explorer 5.5</td>
                            <td>Win 95+</td>
                            <!--<td class="center">5.5</td>-->
                            <!--<td class="center">A</td>-->
                        </tr>
                        <tr class="even gradeA">
                            <td>Trident</td>
                            <td>Internet
                                Explorer 6</td>
                            <td>Win 98+</td>
                            <!--<td class="center">6</td>-->
                            <!--<td class="center">A</td>-->
                        </tr>
                        <tr class="odd gradeA">
                            <td>Trident</td>
                            <td>Internet Explorer 7</td>
                            <td>Win XP SP2+</td>
                            <!--<td class="center">7</td>-->
                            <!--<td class="center">A</td>-->
                        </tr>
                        <tr class="even gradeA">
                            <td>Trident</td>
                            <td>AOL browser (AOL desktop)</td>
                            <td>Win XP</td>
                            <!--<td class="center">6</td>-->
                            <!--<td class="center">A</td>-->
                        </tr>
                        <tr class="gradeA">
                            <td>Gecko</td>
                            <td>Firefox 1.0</td>
                            <td>Win 98+ / OSX.2+</td>
                            <!--<td class="center">1.7</td>-->
                            <!--<td class="center">A</td>-->
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

<% include ../partials/footer %>