<footer>
    <div class="container">

        <div class="copy text-center">
            Copyright SmartSOl <a href='#'>SMS</a>
        </div>

    </div>
</footer>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/scripts/bootstrap.min.js"></script>
<script src="/scripts/jquery.dataTables.min.js"></script>

<script src="/scripts/dataTables.bootstrap.js"></script>

<script src="/scripts/fullcalendar.js"></script>
<script src="/scripts/gcal.js"></script>
<script src="/scripts/custom.js"></script>
<script src="/scripts/calendar.js"></script>
<script src="/scripts/tables.js"></script>
</body>
</html>