<% include ../partials/header %>

<link href="/stylesheets/fullcalendar.css" rel="stylesheet" media="screen">
<link href="/stylesheets/calendar.css" rel="stylesheet">
<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a href="/dashbord"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                    <li class="submenu">
                        <a href="#">
                            <i class="fas fa-users"></i> Students
                            <span class="caret pull-right"></span>
                        </a>
                        <!-- Sub menu -->
                        <ul>
                            <li><a href="/users/new">View</a></li>
                            <li><a href="/users/students">Grades</a></li>
                        </ul>
                    </li>
                    <li><a href="/stats"><i class="glyphicon glyphicon-stats"></i> Attendence </a></li>
                    <li class="current"><a href="/leave/apply/submit"><i class="glyphicon glyphicon-stats"></i> Leave management </a></li>
                    <li class="submenu">
                        <a href="#">
                            <i class="fas fa-users"></i> My subject
                            <span class="caret pull-right"></span>
                        </a>
                        <!-- Sub menu -->
                        <ul>
                            <li><a href="/subject/assignment">Assignments</a></li>
                            <li><a href="/subjects/courseMaterials">Course materials</a></li>
                        </ul>
                    </li>
                    <li><a href="/timetable"><i class="fas fa-calendar-times"></i> Time table</a></li>
                    <li><a href="notice"><i class="fas fa-envelope-square"></i> Notice</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <div class="col-md-5">
                <h2>Leave Application</h2>
                <form action="/action_page.php">
                    <h4>Dates of proposed leave</h4>
                    <div class="form-group">
                        <label for="from">From:</label>
                        <input type="from" class="form-control"  placeholder="Enter date" name="from">
                    </div>
                    <div class="form-group">
                        <label for="to">To:</label>
                        <input type="to" class="form-control" placeholder="Enter date" name="to">
                    </div>
                    <div class="form-group">
                        <label for="comment ">Reason for leave:</label>
                        <textarea class="form-control" rows="5" id="reason"></textarea>
                    </div>
                    <a href="/leave/submit" class="btn btn-info" role="button">Submit</a>
                </form>
            </div>
        </div>
    </div>

<% include ../partials/footer %>