<div class="sidebar content-box" style="display: block;">
    <ul class="nav">
        <!-- Main menu -->
        <li><a href="/stats"><i class="glyphicon glyphicon-stats"></i> Courses </a></li>
        <li><a href="/teachers/markattendance"><i class="glyphicon glyphicon-stats"></i> Mark Attendence </a></li>
        <li><a href="/leave"><i class="glyphicon glyphicon-list"></i> Assignment</a></li>
        <li><a href="/timetable"><i class="fas fa-calendar-times"></i> Time table</a></li>
        <li class="submenu">
            <a href="#">
                <i class="fas fa-users"></i> Notice
                <span class="caret pull-right"></span>
            </a>
            <!-- Sub menu -->
            <ul>
                <li><a href="/users/new">View Notice</a></li>
                <li><a href="/users">Add Notice</a></li>
            </ul>
        </li>

        <li class="submenu">
            <a href="#">
                <i class="fas fa-calendar-times"></i> Leave Application
                <span class="caret pull-right"></span>
            </a>
            <!-- Sub menu -->
            <ul>
                <li><a href="/teachers/leaveapplication/new">New Application</a></li>
                <li><a href="/teachers/leaveapplication">View Application</a></li>
            </ul>
        </li>

        <li class="submenu">
            <a href="#">
                <i class="fas fa-calendar-times"></i> Assignments
                <span class="caret pull-right"></span>
            </a>
            <!-- Sub menu -->
            <ul>
                <li><a href="/teachers/assignments/add">Add Assignment</a></li>
                <li><a href="/teachers/assignments">View Assignment</a></li>
            </ul>
        </li>

    </ul>
</div>