<% include ../partials/header %>

<link href="/stylesheets/fullcalendar.css" rel="stylesheet" media="screen">
<link href="/stylesheets/calendar.css" rel="stylesheet">

<div class="page-content">
    <div class="row">
        <div class="col-md-2" >
            <div class="sidebar content-box" >
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a href="index.html">  <i class="glyphicon glyphicon-home"></i>  Dashboard  </a></li>
                    <li><a href="stats.html">  <i class="glyphicon glyphicon-stats"></i> Timetable  </a></li>
                    <li><a href="tables.html"> <i class="glyphicon glyphicon-list"></i>  Notices    </a></li>
                    <li><a href="buttons.html"><i class="glyphicon glyphicon-record"></i>Leave apply</a></li>
                    <li >
                        <a href="#">
                            <i class="glyphicon glyphicon-list"></i> My Subjects
                        </a>
                        <!-- Sub menu -->
                        <ul type = "disc">
                            <li><a href="science.html">Science & Technology</a></li>
                            <li><a href="maths.html"></i>Mathematics</a></li>
                            <li><a href="english.html"></i>English</a></li>
                            <li><a href="sinhala.html"></i>Sinhala</a></li>
                            <li><a href="history.html"></i>History</a></li>
                            <li><a href="it.html"></i>Information and Technology</a></li>
                            <li><a href="maths.html"></i>English Literature</a></li>

                        </ul>
                    </li>

                </ul>
            </div>
        </div>

        <!-- news forum -->

        <div class="col-md-8" style="background-color:#F5FFFA; height:250px">
            <div class="row" >
                <h4 style="text-align:center;">Science & Technology</h4>

            </div>
        </div>


        <div class="col-md-2" >
            <div class="sidebar content-box" ">
            <ul class="nav">
                <!-- Main menu -->

                <li><a href="stats.html"><i class="glyphicon glyphicon-stats"></i> Activity</a></li>
                <li><a href="tables.html"><i class="glyphicon glyphicon-list"></i> Grades</a></li>
                <li><a href="index.html"><i class="glyphicon glyphicon-home"></i> Notifiations</a>
                    <p style="margin:10px;">No announcement have been posted yet !</p></li>

            </ul>
        </div>
    </div>

</div>



<% include ../partials/footer %>