<% include ../partials/header %>

<link href="/stylesheets/fullcalendar.css" rel="stylesheet" media="screen">
<link href="/stylesheets/calendar.css" rel="stylesheet">
<div class="page-content">
    <div class="row">
        <div class="col-md-2">
            <div class="sidebar content-box" style="display: block;">
                <ul class="nav">
                    <!-- Main menu -->
                    <li><a href="/dashbord"><i class="fas fa-tachometer-alt"></i> Dashboard</a></li>
                    <li class="submenu current">
                        <a href="#">
                            <i class="fas fa-users"></i> Subjects
                            <span class="caret pull-right"></span>
                        </a>
                        <!-- Sub menu -->
                        <ul>
                            <li><a href="/users/new">Buddhism</a></li>
                            <li><a href="/users">Sinhala</a></li>
                            <li><a href="/users">Science</a></li>
                            <li><a href="/users">History</a></li>
                            <li><a href="/users">Mathematics</a></li>
                            <li><a href="/users">English</a></li>
                        </ul>
                    </li>
                    <li><a href="/stats"><i class="glyphicon glyphicon-stats"></i> Attendence </a></li>
                    <li><a href="/timetable"><i class="fas fa-calendar-times"></i> Time table</a></li>
                    <li><a href="notice"><i class="fas fa-envelope-square"></i> Notice</a></li>
                </ul>
            </div>
        </div>
        <div class="col-md-10">
            <!--<div class="content-box-large">-->
            <div class="col-md-1"></div>

            <!-- submission-->

            <div class="col-md-9">
                <div class="row">
                    <h2>Submission </h2>
                    <style>
                        #div1 {
                            width: 350px;
                            height: 70px;
                            padding: 10px;
                            border: 1px solid #aaaaaa;
                        }
                    </style>
                    <script>
                        function allowDrop(ev) {
                            ev.preventDefault();
                        }

                        function drag(ev) {
                            ev.dataTransfer.setData("text", ev.target.id);
                        }

                        function drop(ev) {
                            ev.preventDefault();
                            var data = ev.dataTransfer.getData("text");
                            ev.target.appendChild(document.getElementById(data));
                        }
                    </script>
                    </head>
                    <body>

                    <p>Drag your file here : </p>

                    <div id="div1" ondrop="drop(event)" ondragover="allowDrop(event)"></div>
                    <br>
                    <img id="drag1" src="img_logo.gif" draggable="true" ondragstart="drag(event)" width="336" height="69">

                </div>
            </div>
            <!--</div>-->
        </div>
    </div>
</div>

<% include ../partials/footer %>